table {
    width: 100%; 
}

th {
    font-weight: 400;
    font-size: 20px;
}

td {
    font-weight: 400;
    font-size: 15px;
}

.event-line:hover {
    text-decoration: underline;
}

.button-group {
    padding-bottom: 25px;
    padding-top: 25px;
}

.mat-raised-button {
    background-color: #77878b;
    font-size: 20px;
}