table {
    width: 100%; 
}

th {
    font-weight: 400;
}

td {
    font-weight: 400;
}

.mat-row:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button-group {
    padding-bottom: 25px;
    padding-top: 25px;
}

.mat-raised-button {
    background-color: #77878b;
}

.event-finished > .mat-cell {
    color: #77878b
}
