<div class="flex_content">
  <nav class="roadmap_link">
    <a routerLink="/roadmap">--> Notre Roadmap !
      <--</a>
  </nav>
  <div *ngIf="serviceAvailable(); else loading">
    <h2>{{getRegistrationDate() | date:"fullDate"}} de {{getRegistrationDate() | date: "shortTime"}}h à {{getRegistrationEndDate() | date: "shortTime"}}h</h2>
    <app-register-button></app-register-button>
    <div class="user_list_group">
      <div class="flex_user_list">
        <app-list-users (onUserSelect)="selectUser($event)" (onDelete)="deleteAvailableUser($event)" title="Viens" [user_list]="getAvailableUsers()"></app-list-users>
      </div>
      <div class="flex_user_list">
        <app-list-users (onUserSelect)="selectUser($event)" (onDelete)="deleteUncertainUser($event)" title="Peux compléter" [user_list]="getUncertainUsers()"></app-list-users>
      </div>
      <div class="flex_user_list">
        <app-list-users (onUserSelect)="selectUser($event)" (onDelete)="deleteUnavailableUser($event)" title="Ne viens pas" [user_list]="getUnavailableUsers()"></app-list-users>
      </div>
    </div>
  </div>
  <ng-template class="loading" #loading>
    <div class="loader"></div>
  </ng-template>
</div>