* {box-sizing: border-box;}

.placeholder { grid-area: placeholder;}
.alerts {grid-area: alerts }
.header { 
    grid-area: header; 
    background: #77878b;
    display: grid;
    height: 75px;
    grid-template-columns: 66% 33%;
    grid-template-areas:
      'menu user';
}

@media screen and (max-width: 1024px){
    .header {
        height: 50px;
    }
}

.user_panel {grid-area: user; }

.menu {
     grid-area: menu;
    }
    
.main { 
    grid-area: main; 
    text-align: left;
    padding: 5%;
    font-weight: 800;
    overflow-y: auto;
    background: linear-gradient(#2b303a,#58a4b0);
}


::-webkit-scrollbar {
	width: 12px;
    background-color: #77878b;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #58a4b0;
}


.right {
     grid-area: right; 
     background: #2b303a
}

.wrapper {
    display: grid;
    overflow: hidden;
    height: 100vh;
    grid-template-areas:
      'header'
      'main';
    grid-gap: 5px;
    background-color: #2b303a;
}

