.user-panel-content {
    height: 100%;
    display: flex; 
    align-items: center;
    width: min-content;
}

.user-panel-icon {
    font-size: 1.5em;
}

.user-name {
    padding-left: 10%; 
    cursor: default
}

.user-panel-content:hover > .user-name {
    text-decoration: underline;
}

.user-menu-dropdown-arrow {
    padding-left: 5%; 
    font-weight: 400;
}

.user-panel-dropdown {
    height: 100%;
}

a  {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    text-decoration: inherit;
    color: inherit;
}

.user-panel-dropdown-menu {
    background-color: #77878b;
}

.user-panel-dropdown-item {
    padding: 1em;
}

.user-panel-dropdown-item:hover{
    text-decoration: underline;
}
