.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2em;
}

.menu-item {
    cursor: default;
    color: rgb(244, 250, 255);
    padding-left: 15%;
}

.menu-item:hover {
    text-decoration: underline
}

.menu-item-list {
    margin-top: 1.2em;
}

