.menu-wrapper {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.menu-item {
    color: rgb(244, 250, 255);
}

.menu-item:hover {
    text-decoration: underline
}

.menu-item-list {
    margin-top: 1.2em;
}
