@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');
* {box-sizing: border-box;}

.placeholder { grid-area: placeholder;}
.alerts {grid-area: alerts }
.header { 
    grid-area: header; 
    background: #77878b;
    display: grid;
    grid-template-columns: 66% 33%;
    grid-template-areas:
      'alerts user';
}

.user_panel {grid-area: user; }

.menu {
     grid-area: menu;
     background: #2b303a;
     overflow: auto;
    }
    
.main { 
    grid-area: main; 
    text-align: left;
    padding: 5%;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
    background: linear-gradient(#2b303a, #58a4b0);
}


::-webkit-scrollbar {
	width: 12px;
    background-color: #77878b;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #58a4b0;
}


.right {
     grid-area: right; 
     background: #2b303a
}
.footer { 
    grid-area: footer; 
    background: #58a4b0;
}

.wrapper {
    display: grid;
    overflow: hidden;
    height: 100%;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas:
      'menu header right'
      'menu main right'
      'footer footer footer';
    grid-gap: 5px;
    background-color: #2b303a;
}

.app-root {
    height: 100vh;
}

