<div>
  <div *ngIf="isLoggedIn(); else loggin">
    <div  class="wrapper">
      <div class="header">
        <div class="alerts">
            <app-alerts class="alerts-container"></app-alerts>
        </div>
        <app-user-panel  class="user_panel"></app-user-panel>
      </div>
      <div class="menu"> </div>
      <div class="right"> </div>
      <div class="main">
        <router-outlet></router-outlet>    
      </div>
      <div class="footer"></div>
    </div>
  </div>

  <ng-template class="register-panel" #loggin>
    <app-register></app-register>
  </ng-template>
</div>