.event_title {
    font-weight: 800;
}

.event-content {
    padding-top: 5%;
    height: 100%;
}


.event_description {
    margin: 2em;
    font-weight: 400;
}

.event-finished {
    font-size: 0.5em;
    font-weight: 400;
}