<div>
  <div *ngIf="!isLoading; else loading">
    <h1 class="event_title">{{ event.title }}
      <span class="event-finished" *ngIf="isFinished()">(terminé)</span>
    </h1>
    <h2> {{ event.date | date:"fullDate"}} à {{ event.date | date: "shortTime"}}h
      <span *ngIf="event.end_date">jusqu'à
        <span *ngIf="endSameDay(event); else fullDateTemplate">
          {{ event.end_date | date: "shortTime"}}
        </span>
        <ng-template #fullDateTemplate>
          {{ event.end_date | date:"fullDate"}} : {{ event.end_date | date: "shortTime"}}
        </ng-template>
      </span>
    </h2>
    <h2> {{ event.place }}</h2>

    <p *ngIf="event.author" class="event_author">Crée par : {{ event.author.username }}</p>
    <p class="event_description">{{event.description}}</p>
    <button mat-raised-button color="primary" *ngIf="isAuthor()" (click)="goToEdit()">Editer</button>
    <button mat-raised-button color="warn" *ngIf="isAuthor()" (click)="openDialog()">Supprimer</button>
    <div class="event-content">
      <app-list-users [participating_list]="event.liste_participants" [not_participating_list]="event.liste_absents" [maybe_list]="event.liste_incertains"></app-list-users>
    </div>
  </div>
  <ng-template class="loading" #loading>
    <app-loader></app-loader>
  </ng-template>
</div>