<div>
  <div *ngIf="!isLoading; else loading">
    <h1 class="event_title">{{ getEventTitle() }}</h1>
    <h2 class="event_date">{{getEventDate() | date:"fullDate"}} de {{getEventDate() | date: "shortTime"}}h à {{getEventEndDate() | date: "shortTime"}}h</h2>
    <div class="event-content">
      <app-list-users [participating_list]="getParticipants()" [not_participating_list]="getAbsents()" [maybe_list]="getIncertains()"></app-list-users>
    </div>
  </div>
  <ng-template class="loading" #loading>
    <app-loader></app-loader>
  </ng-template>
</div>