<nav>
    <a routerLink="/main">(Retour à l'accueil)</a>
  </nav>

<h1>Roadmap :</h1>

  <ul class="list-group fixedleft">
    <li class="list-group-item list-group-item-success">Ce qui a été fait</li>
    <li class="list-group-item list-group-item-warning">Ce qui est en cours</li>
    <li class="list-group-item list-group-item-danger">Ce qui reste à faire</li>
  </ul>

<h2>Fonctionnalités à implémenter :</h2>

<div class="row">
  <div class="col">
    <div class="list-group fixedleft" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-success list-group-item-action" id="list-venir-list" data-toggle="tab" href="#list-venir" role="tab" aria-controls="venir">Indiquer que l'on vient</a>
        <a class="list-group-item list-group-item-success list-group-item-action" id="list-nepasvenir-list" data-toggle="tab" href="#list-nepasvenir" role="tab" aria-controls="nepasvenir">Indiquer que l'on ne vient pas</a>
        <a class="list-group-item list-group-item-warning list-group-item-action" id="list-completer-list" data-toggle="tab" href="#list-completer" role="tab" aria-controls="completer">Indiquer que l'on souhaite seulement compléter</a>
        <a class="list-group-item list-group-item-success list-group-item-action" id="list-changedavis-list" data-toggle="tab" href="#list-changedavis" role="tab" aria-controls="changedavis">Pouvoir changer d'avis</a>
        <a class="list-group-item list-group-item-success list-group-item-action" id="list-voir-list" data-toggle="tab" href="#list-voir" role="tab" aria-controls="voir">Voir qui vient ou non</a>
        <a class="list-group-item list-group-item-danger list-group-item-action" id="list-remiseazero-list" data-toggle="tab" href="#list-remiseazero" role="tab" aria-controls="remiseazero">Remise à zéro automatique toutes les semaines</a>
        <a class="list-group-item list-group-item-danger list-group-item-action" id="list-argentdu-list" data-toggle="tab" href="#list-argentdu" role="tab" aria-controls="argentdu">Voir si de l'argent est dû ou non, et à qui</a>
        <a class="list-group-item list-group-item-danger list-group-item-action" id="list-commentaire-list" data-toggle="tab" href="#list-commentaire" role="tab" aria-controls="commentaire">Écrire un commentaire (public) en s'incrivant</a>
      </div>
  </div>
  <div class="col-3">
    <div class="tab-content fixedright" id="nav-tabContent">
        <div class="tab-pane fade" id="list-venir" role="tabpanel" aria-labelledby="list-venir-list"></div>
        <div class="tab-pane fade" id="list-nepasvenir" role="tabpanel" aria-labelledby="list-nepasvenir-list"></div>
        <div class="tab-pane fade" id="list-completer" role="tabpanel" aria-labelledby="list-completer-list"></div>
        <div class="tab-pane fade" id="list-changedavis" role="tabpanel" aria-labelledby="list-changedavis-list"></div>
        <div class="tab-pane fade" id="list-voir" role="tabpanel" aria-labelledby="list-voir-list"></div>
        <div class="tab-pane fade" id="list-remiseazero" role="tabpanel" aria-labelledby="list-remiseazero-list"></div>
        <div class="tab-pane fade" id="list-argentdu" role="tabpanel" aria-labelledby="list-argentdu-list">Cette information ne serait visible que par la personne qui doit l'argent et servirait uniquement de rappel. Il ne s'agit pas que tout le monde soit au courant.</div>
        <div class="tab-pane fade" id="list-commentaire" role="tabpanel" aria-labelledby="list-commentaire-list">Les commentaires pourraient par exemple servir à indiquer que l'on a des raquettes à prêter ou (ce qui est plus probable) à se faire des petites blagues.</div>
        <a class="btn btn-info" data-toggle="tab" href="#list-venir" role="button">Effacer</a>
      </div>
  </div>
</div>

<h2>Habillage à réaliser :</h2>

<div class="row">
  <div class="col">
    <div class="list-group fixedleft" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-danger list-group-item-action" id="list-tabs-list" data-toggle="tab" href="#list-tabs" role="tab" aria-controls="tabs">Ajouter des onglets</a>
      <a class="list-group-item list-group-item-danger list-group-item-action" id="list-image-list" data-toggle="tab" href="#list-image" role="tab" aria-controls="image">Image en lien avec le badminton</a>
      <a class="list-group-item list-group-item-danger list-group-item-action" id="list-background-list" data-toggle="tab" href="#list-background" role="tab" aria-controls="background">Image légère ou une couleur claire en fond</a>
      <a class="list-group-item list-group-item-danger list-group-item-action" id="list-explication-list" data-toggle="tab" href="#list-explication" role="tab" aria-controls="explication">Explication rapide sur le fonctionnement et l'utilité de l'application</a>
    </div>
  </div>
  <div class="col-3">
    <div class="tab-content fixedright" id="nav-tabContent">
      <div class="tab-pane fade" id="list-tabs" role="tabpanel" aria-labelledby="list-tabs-list">Trois onglets en tout : le premier pour s'inscrire, le deuxième pour voir qui vient, et le dernier pour voir si l'on doit de l'argent.</div>
      <div class="tab-pane fade" id="list-image" role="tabpanel" aria-labelledby="list-image-list">Une simple image de raquette(s) et de volant(s) par exemple ; toutes suggestions bienvenues.</div>
      <div class="tab-pane fade" id="list-background" role="tabpanel" aria-labelledby="list-background-list">Pour changer du blanc uni et triste ; toutes suggestions bienvenues.</div>
      <div class="tab-pane fade" id="list-explication" role="tabpanel" aria-labelledby="list-explication-list">Quelque chose qui dirait en quelques lignes maximum que les séances sont le samedi de 14 à 16h, et servirait aussi de message de bienvenue.</div>
    </div>
  </div>
</div>

