/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');

html body {
    color: #f4faff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0em;
}


@media screen and (max-width: 1024px){
    html body {
        font-size: 10px;
    }

    h1 {
        font-size: 10px;
    }

    h2 {
        font-size: 10px;
    }

    mat-row.mat-row {
        padding: 0; 
    }

    mat-header-row.mat-header-row {
        padding: 0; 
    }

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.mat-form-field-label {
    color:  #f4faff;
}

form  {
    color:  #f4faff;
  }

  
.owl-dt-container {
    font-size: 100%;
    color: black;
}

textarea.mat-input-element {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.mat-table {
    background: transparent;
}

.mat-button {
    font-size: inherit; 
}

.mat-header-cell {
    color:  #f4faff;
    font-size: 1em;
}

.mat-cell {
    color:  #f4faff;
    font-size: 1em;
}

.mat-paginator {
    background: transparent;
    color: #f4faff;
}

.mat-select-value {
    color: #f4faff;
}

.mat-icon-button {
    color: #f4faff;
}

.mat-menu-panel {
    background: #77878b;
}

.mat-menu-item {
    color: #f4faff;
    font-size: inherit;
}