/* You can add global styles to this file, and also import other style files */
html body {
    color: #f4faff;
    font-family: 'Montserrat', sans-serif;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}