<div>
  <div class="userlist_panel panel panel-default">
    <table class="table ">
      <thead>
        <th>Participe     
          <app-register-button [user_list]="user_list"></app-register-button>
        </th>
        <th>Peut être
            <app-register-button [user_list]="user_list"></app-register-button>
        </th>
        <th>Ne participe pas
            <app-register-button [user_list]="user_list"></app-register-button>
        </th>
      </thead>
      <tbody>
        <tr>
            <td>a</td>
            <td>b</td>
            <td>c</td>
        </tr>
        <tr>
            <td>a</td>
            <td>b</td>
            <td>c</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>