<div>
  <div >
    <table class="table ">
      <thead>
        <th class= "action_button_column">
            <i (click)="addUserToList('toto', participating_list)" class="table_header_button fa fa-user-plus"></i>
        </th>
        <th>
            <span class="table_headder">Participe</span>
        </th>
        <th class= "action_button_column">
            <i  (click)="addUserToList('toto', maybe_list)" class="table_header_button fa fa-user-plus"></i>
        </th>
        <th>
          <span class="table_headder">Peut être</span>
        </th>
        <th class= "action_button_column">
            <i  (click)="addUserToList('toto', not_participating_list)" class="table_header_button fa fa-user-plus"></i>
        </th>
        <th> 
          <span class="table_headder">Ne participe pas</span></th>
      </thead>
      <tbody>
        <tr *ngFor="let line of getTableContent()">
          <td></td>
          <td>{{line["participating"]}}</td>
          <td></td>
          <td>{{line["maybe"]}}</td>
          <td></td>
          <td>{{line["not_participating"]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>