<div>
  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th class= "action_button_column">
              <i *ngIf="canSelect()" (click)="addUserToList(participating_list)" class="table_header_button fa fa-plus"></i>
              <i *ngIf="canChange(participating_list)" (click)="changeUserTo(participating_list)" class="table_header_button fa fa-arrow-down"></i>
          </th>
          <th>
              <span class="table_headder">Participe</span>
          </th>
          <th class= "action_button_column">
              <i *ngIf="canSelect()" (click)="addUserToList(maybe_list)" class="table_header_button fa fa-plus"></i>
              <i *ngIf="canChange(maybe_list)" (click)="changeUserTo(maybe_list)" class="table_header_button fa fa-arrow-down"></i>
          </th>
          <th>
            <span class="table_headder">Peut être</span>
          </th>
          <th class= "action_button_column">
              <i *ngIf="canSelect()"  (click)="addUserToList(not_participating_list)" class="table_header_button fa fa-plus"></i>
              <i *ngIf="canChange(not_participating_list)" (click)="changeUserTo(not_participating_list)" class="table_header_button fa fa-arrow-down"></i>
          </th>
          <th> 
            <span class="table_headder">Ne participe pas</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of getTableContent()">
          <td ></td>
          <td class="col-md-4">{{ displayUserInfo(line["participating"]) }}</td>
          <td ></td>
          <td class="col-md-4">{{ displayUserInfo(line["maybe"]) }}</td>
          <td ></td>
          <td class="col-md-4">{{ displayUserInfo(line["not_participating"]) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>