th {
    font-weight: 400;
    font-size: 30px;
    width: 33%;
}

td {
    font-weight: 400;
    font-size: 30px;
}

a {
    cursor: pointer;
}

.action_cell {
    width: 10%;
}

.user_cell{
    text-align: left;
}
