<div class="input-group">
        <div class="form-group">
                <input class="form-control" placeholder="Votre nom" [(ngModel)]="selectedUserName" />
                <label for="newUser">Je... </label>
                <button type="button" class="btn btn-primary" (click)="addParticipatingUser(selectedUserName)">Viens</button>
                <button type="button" class="btn btn-warning" (click)="addUncertainUser(selectedUserName)">Peux compléter</button>
                <button type="button" class="btn btn-danger" (click)="addUnavailableUser(selectedUserName)">Ne viens pas</button>
        </div>
</div>

